<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CYBERBURGS</title>
    <link rel="icon" href="{{ url_for('static', filename='img/Logo.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/particles.js"></script>
    <script src="https://unpkg.com/lucide@latest/dist/umd/lucide.js"></script>
</head>
<body>
    {% include 'navbar.html' %}

    <!-- Hero Section (Logo, Particles, and Spider Effect) -->
    <section id="top" class="relative h-screen w-full">
        <!-- Content that will stay above particles and spider effect -->
        <div class="flex justify-center items-center h-screen absolute inset-0 z-10 content">
            <img src="{{ url_for('static', filename='img/Logo.jpeg') }}" alt="Logo" class="w-70 h-60 logo-rotate-3d">
        </div>

        <!-- Canvas for Spider Effect -->
        <canvas id="spiderWebCanvas" class="absolute inset-0 z-0"></canvas>
        
        <!-- Container for particles.js -->
        <div id="particles-js" class="absolute inset-0 z-1"></div>
    </section>

    <!-- Include Cyber Defense Matrix Section -->
    {% include 'cyber_defense_matrix.html' %}
    {% include 'security_matrix.html' %}
    {% include 'achievements.html' %}
    {% include 'cyber_insights.html' %}
    {% include 'get_in_touch.html' %}

    <!-- Scripts -->
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script src="{{ url_for('static', filename='js/particles.js') }}"></script>
</body>
</html>